.eslintrc.js
.babel.config.js
lint-staged.config.js
node_modules
.vs
.vscode
.idea
.git
.next
webpack.config.ts
jest.config.ts
scripts
json-server
.husky
vite.config.ts
react-app-env.d.ts
cypress
cypress.config.ts
componentRender.tsx