.drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: flex-end;
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: translateY(0%);
  }
}

.sheet {
  position: fixed;
  left: 2vw;
  z-index: var(--modal-z-index);
  border-radius: 12px 12px 0;
  padding: 15px;
  width: 96vw;
  height: calc(100vh + 100px);
  background: var(--bg-color);
  touch-action: none;
}
