.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.content {
  z-index: var(--modal-z-index);
  border-radius: 12px;
  padding: 20px;
  max-width: 60%;
  transform: scale(0.5);
  transition: 0.3s transform;
}

.modalNew {
  .content {
    background: var(--light-bg-redesigned);
  }
}

.modalOld {
  .content {
    background: var(--bg-color);
  }
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}
