.Button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--text-redesigned);
  cursor: pointer;

  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg,
    .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.withAddon {
  padding: 0 16px;
}

.addonLeft,
.addonRight {
  display: flex;
}

/* stylelint-disable-next-line no-descending-specificity */
.addonRight svg,
.addonLeft svg {
  color: var(--hint-redesigned);
}

.clear {
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.filled {
  outline: none;
  border: none;
  border-radius: 34px;
  background: var(--light-bg-redesigned);
}

.outline {
  border: 1px solid var(--icon-redesigned);
  border-radius: 34px;
  background: none;

  &:hover {
    border: 1px solid var(--accent-redesigned);
  }
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.m {
  font: var(--font-m-redesigned);
}

.l {
  font: var(--font-l-redesigned);
}

.xl {
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
